<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Password Generator</title>
</head>
<body>
  <div class="container">
    <h1>Gerar <br><span>Senha Aleatória</span></h1>
    <div class="display">
      <input type="text" id="password" placeholder="Senha">
      <img src="img/copy.png" onclick="copyPassword()">
    </div>

    <button onclick="generatePassword()"><img src="img/generate.png" alt="">Gerar</button>
  </div>

  <script src="script.js"></script>
</body>
</html>